body {
    background-color: #05dd95;
}
p1 {
    font-size: 30px;
    font-family: Arial;
    padding: 20px 0; 
    text-align: center;
}
.p2{
    width: 500px;
    height: auto;
    border-radius: 30px;
    padding-bottom: 50;
    
       
}
