h{
    font-family: Helvetica;
    background-color: pink;
}
.potato-free{
    font-family: Helvetica;
    color: black;
}
body{
    background-color:cornsilk;
}
.duck-duck{
    font-family: Helvetica;
}
bb{
    font-family: Helvetica;
    background-color: dimgray;
}
