body {
    background-color: white;
}
p1 {
    font-size: 30px;
    font-family: Arial;
    padding: 20px 0; 
    text-align: center;
}
.p2{
    width: 200px;
    height: auto;
    border-radius: 30px;
    padding-bottom: 50;
}
.move-right {
    padding-right: 600px;
}
.move-right2 {
    padding-right: 600px;
}
